.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

input[type=submit] {
    width: 100%;
    height: 30px;
    background-color: #c8c8ff;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: mediumpurple;
}

input[type=submit]:active {
    background-color: darkslateblue;
}

h1 {
    color: #8080ff;
    font-family: Century;
    font-style: italic;
}

#name-input:focus,
#password-input:focus {
    background-color: #c8c8ff;
}

select {
    width: 100%;
}

select:hover {
    font-weight: bold;
}

fieldset {
    background-color: #f3f3f3;
}

.input_error {
    border-color: red;
}

.error_message {
    color: red;
    font-size: 12px;
}